.developer-name {
  text-align: center;
  font-size: 50px;
  font-family: "Germania One", system-ui !important;
  background: linear-gradient(90deg, #fff, #000, #fff);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #ffffff85;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 4s linear infinite;
  position: relative;
}
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
